<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/create">Add Course</a>
</nav>

{% block content %}{% endblock %}

</body>
</html>