{% extends 'base.html.twig' %}

{% block title %}Add Course{% endblock %}

{% block content %}

    <h1>Add Course</h1>

    <form method="post" action="/store">
        <input type="text" name="name">
        <input type="text" name="instructor">
        <textarea name="description"></textarea>

        <button type="submit">Submit</button>
    </form>

{% endblock %}